.homeHeading {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
}
.aboutHeading {
  color: Black;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  font-size: 2rem;
}
.aboutContent {
  padding: 10px;
}
.helloName {
  color: darkBlue;
  padding: 10px;
}
