.homeHeading {
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
}
.aboutHeading {
  color: Black;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  font-size: 2rem;
}
.aboutContent {
  padding: 10px;
}
.helloName {
  color: darkBlue;
  padding: 10px;
}
.productContainer {
  padding-left: 1rem;
  position: relative;
  .productName {
    margin-bottom: 1rem;
  }
  .productImg {
    margin-bottom: 1rem;
  }
  .productPrice {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .productDesc {
    font-weight: normal;
  }
}
