.header {
  border-bottom: 1px solid lightgray;
  font-family: sans-serif;
  color: darkgray;
  font-size: 3rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.name {
  font-weight: bold;
}
